<a href="https://colab.research.google.com/github/ChennamaReddyRevanth/Python_for_DataScience/blob/main/Basic_operations_of_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
series=pd.Series(["revanth","raju","siva","sumanth","rubeena"])
series

0    revanth
1       raju
2       siva
3    sumanth
4    rubeena
dtype: object

In [6]:
ser=pd.Series([12,"revanth",12.03,12,9,"raju"])
ser

0         12
1    revanth
2      12.03
3         12
4          9
5       raju
dtype: object

In [11]:
dict={"A":"revanth","B":[34,54,6],"C":[9,98,74],"D":[34,5,95]}
df=pd.Series(dict)
df

A        revanth
B    [34, 54, 6]
C    [9, 98, 74]
D    [34, 5, 95]
dtype: object

In [12]:
print(type(ser))

<class 'pandas.core.series.Series'>

In [13]:
lh=len(ser)
print(lh)

6

In [14]:
print(len(df))

4

In [15]:
x = pd.Series(4, index=[0, 1, 2, 3])  
print (x)

0    4
1    4
2    4
3    4
dtype: int64

##Creating Data Frame using series

In [27]:
data=pd.DataFrame({1:[99,96,98,76],2:[98,76,87,99],3:[99,87,98,77],6:[65,45,30,99]})

data

    1   2   3   6
0  99  98  99  65
1  96  76  87  45
2  98  87  98  30
3  76  99  77  99

In [41]:
df=pd.DataFrame({"Name":pd.Series(["revanth","raju","siva","sai","manju","lahari"],index=list("ABCDEF")),"Maths":pd.Series([99,98,87,67,56,96],index=list("ABCDEF")),"Science":pd.Series([87,65,76,44,34,56],index=list("ABCDEF")),"Chemistry":pd.Series([99,87,76,65,76,99],index=list("ABCDEF"))})
print(df)

      Name  Maths  Science  Chemistry
A  revanth     99       87         99
B     raju     98       65         87
C     siva     87       76         76
D      sai     67       44         65
E    manju     56       34         76
F   lahari     96       56         99

In [31]:
df["Total"]=df["Maths"]+df["Science"]+df["Chemistry"]

In [32]:
df

      Name  Maths  Science  Chemistry  Total
A  revanth     99       87         99    285
B     raju     98       65         87    250
C     siva     87       76         76    239
D      sai     67       44         65    176
E    manju     56       34         76    166
F   lahari     96       56         99    251

In [33]:
df["percentage"]=(df["Total"]/300)*100

In [34]:
df

      Name  Maths  Science  Chemistry  Total  percentage
A  revanth     99       87         99    285   95.000000
B     raju     98       65         87    250   83.333333
C     siva     87       76         76    239   79.666667
D      sai     67       44         65    176   58.666667
E    manju     56       34         76    166   55.333333
F   lahari     96       56         99    251   83.666667

In [38]:
df["Grade"]="pass/fail"

In [39]:
df

      Name  Maths  Science  Chemistry  Total  percentage      Grade
A  revanth     99       87         99    285   95.000000  pass/fail
B     raju     98       65         87    250   83.333333  pass/fail
C     siva     87       76         76    239   79.666667  pass/fail
D      sai     67       44         65    176   58.666667  pass/fail
E    manju     56       34         76    166   55.333333  pass/fail
F   lahari     96       56         99    251   83.666667  pass/fail

##Create a Data Frame From a Dictionary of List

In [45]:
x=[{1:[12,23,43],2:[34,65,67]},{1:[45,56,76],2:[45,56,67]}]
df=pd.DataFrame(x,index=list("AC"))
df

              1             2
A  [12, 23, 43]  [34, 65, 67]
C  [45, 56, 76]  [45, 56, 67]