<a href="https://colab.research.google.com/github/ChennamaReddyRevanth/Python_for_DataScience/blob/main/Summary_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
from scipy import stats as st
from matplotlib import pyplot as plt

#Summary Statistics such as mean,median,mode,standard deviation,and variance

In [2]:
# MEAN
a=np.array([1,2,4,5,6])
print(a)
print(np.mean(a))

[1 2 4 5 6]
3.6

In [3]:
# MEDIAN
b=np.array([2,5,1,9,10])
print(b)
print(np.median(b))

[ 2  5  1  9 10]
5.0

In [7]:
#MODE 
c=np.array([1,2,1,2,1,2,1,2,3,3,3,3,3])
print(c)
print(st.mode(c))

[1 2 1 2 1 2 1 2 3 3 3 3 3]
ModeResult(mode=array([3]), count=array([5]))

<ipython-input-7-04a6ec60e736>:3: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  print(st.mode(c))

In [9]:
# STANDARD DEVIATION
d=np.array([1,2,3,4,5])
print(d)
print(np.std(d))

[1 2 3 4 5]
1.4142135623730951

In [10]:
#VARIANCE
e=np.array([[1,2],[3,4]])
print(e)
print(np.var(e))

[[1 2]
 [3 4]]
1.25

#Summary Statistics such as mean,median,mode,standard deviation,and variance on CSV file

In [11]:
df=pd.read_csv('/content/ds_salaries.csv')
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

In [14]:
df.describe()

         work_year        salary  salary_in_usd  remote_ratio
count  3755.000000  3.755000e+03    3755.000000   3755.000000
mean   2022.373635  1.906956e+05  137570.389880     46.271638
std       0.691448  6.716765e+05   63055.625278     48.589050
min    2020.000000  6.000000e+03    5132.000000      0.000000
25%    2022.000000  1.000000e+05   95000.000000      0.000000
50%    2022.000000  1.380000e+05  135000.000000      0.000000
75%    2023.000000  1.800000e+05  175000.000000    100.000000
max    2023.000000  3.040000e+07  450000.000000    100.000000

In [15]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [17]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3750    False
3751    False
3752    False
3753    False
3754    False
Length: 3755, dtype: bool

In [18]:
df['salary'].mean()

190695.57177097205

In [19]:
df['salary'].median()

138000.0

In [21]:
df['salary_in_usd'].mode()

0    100000
Name: salary_in_usd, dtype: int64

In [22]:
df['salary'].std()

671676.5005079068

In [23]:
df['salary'].var()

451149321334.54816